<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
</head>
<body>
  <h1>Carrito de Compras</h1>
  <ul>
    {{#each cart.products}}
    <li>
      <h2>{{this.product.title}}</h2>
      <p>Precio: {{this.product.price}}</p>
      <p>Cantidad: {{this.quantity}}</p>
      <form action="/carts/{{cartId}}/product/{{this.product.id}}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Eliminar del Carrito</button>
      </form>
    </li>
    {{/each}}
  </ul>
</body>
</html>
