<h1>Listado de productos</h1>
<ul>
  <h1>Listado de productos</h1>
  <ul>
    {{#each products}}
      <li>
        <strong>Id:</strong>
        {{this.id}}
        <br />
        <strong>Nombre:</strong>
        {{this.title}}
        <br />
        <strong>Descripción:</strong>
        {{this.description}}
        <br />
        <strong>Código:</strong>
        {{this.code}}
        <br />
        <strong>Precio:</strong>
        {{this.price}}
        <br />
        <strong>Estado:</strong>
        {{this.status}}
        <br />
        <strong>Stock:</strong>
        {{this.stock}}
        <br />
        <strong>Categoría:</strong>
        {{this.category}}
        <br />
        <strong>Thumbnails:</strong>
        {{this.thumbnails}}
        <br />
      </li>
    {{/each}}
  </ul>
</ul>