<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de compras</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
    }
    li:last-child {
      border-bottom: none;
    }
    strong {
      font-weight: bold;
    }
    .thumbnails img {
      max-width: 100px;
      height: auto;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  
  {{#if user}}
  <!-- Contenido para usuarios autenticados -->
  <div class="container">
    <h1>Carrito de compras</h1>
    <div>
      <p>Nombre: {{ user.firstName }} {{ user.lastName }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Edad: {{ user.age }}</p>
      <button id="logoutButton">Logout</button>
    </div>
    <ul>
      <li>
        <h2>Listado de productos</h2>
        <ul>
          {{#each products}}
          <li>
            <strong>Id:</strong> {{_id}}<br>
            <strong>Nombre:</strong> {{title}}<br>
            <strong>Descripción:</strong> {{description}}<br>
            <strong>Código:</strong> {{code}}<br>
            <strong>Precio:</strong> {{price}}<br>
            <strong>Estado:</strong> {{status}}<br>
            <strong>Stock:</strong> {{stock}}<br>
            <strong>Categoría:</strong> {{category}}<br>
            <strong>Thumbnails:</strong> 
            <div class="thumbnails">
              {{#each thumbnails}}
                <img src="{{this}}" alt="Thumbnail">
              {{/each}}
            </div>
            <br>
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
  {{else}}
  <!-- Contenido para usuarios no autenticados -->
  <div class="container">
    <h1>Bienvenido</h1>
    <p>Inicia sesión o regístrate para acceder al carrito de compras y productos.</p>
    <a href="/login">Iniciar sesión</a> | <a href="/register">Registrarse</a>
  </div>
  {{/if}}

  <!-- Script para el logout -->
  <script>
    document.getElementById('logoutButton').addEventListener('click', function() {
      fetch('/session/logout', {
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response => response.json())
      .then(data => {
        if (data.message === 'Sesión cerrada correctamente') {
          window.location.href = '/login'; // Redirigir a la vista de login después del logout
        }
      })
      .catch(error => console.error('Error:', error));
    });
  </script>

</body>
</html>
